__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/
.eggs/

.venv/
venv/
env/

.vscode/
.idea/
*.suo
*.user

bin/
obj/
*.pdb

*.dll

!pysfml/libs/pysfmllib.dll
!pysfml/libs/SFML.System.dll
!pysfml/libs/SFML.Window.dll
!pysfml/libs/SFML.Graphics.dll
!pysfml/libs/SFML.Audio.dll

.DS_Store
Thumbs.db